<div class="container">
    <h1>Pokemon League Registry</h1>
    @for (leader of johtoService.leaders(); track leader.name){

    
    <div class="trainer-card">
        <h2>Trainer: {{ leader.name }}</h2>
        <ul>
            @for(pokemon of leader.team;track $index){
        
            
            <div class="pokemon-list">
                <div class="pokemoen-list-johto-region">
                    <strong>{{ pokemon }}</strong>
                    <br>
                    <div class="pokemon-image"><img [src]="'https://projectpokemon.org/images/normal-sprite/' + pokemon.toLowerCase() + '.gif'" [alt]="pokemon"> </div>
                 
                <br>           
                    <strong>Held Item: {{leader.items[$index]}}
            </strong>
                </div>
            </div>
            <br>


    }
        </ul>   
    </div>
    }
</div>